!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml')
head
    title Aaron Morais
    style(type='text/css')
      * {
      font-family: "Calibri", arial, Helvetica, Sans-serif;
      padding: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      }
      h1 {
      font-family: "Arial", arial, Helvetica, Sans-serif;
      font-weight: 100;
      font-size: 42px;
      letter-spacing: 0.2em;
      margin-bottom: 6px;
      margin-top: 10px;
      width:100%;
      text-align: center;
      color:grey;
      }
      .subHead{
      font-size:80%;
      width:100%;
      text-align:center;
      margin-bottom:2px;
      }
      h2 {
      font-size: 18px;
      color:grey;
      margin-top: 15px;
      text-transform: uppercase;
      border-bottom: 2px solid;
      }
      .wrapper {
      //border: 1px solid #999;
      //padding: 10px;
      }
      .border {
      width: 890px;
      padding: 5px;
      //border: 1px solid #CCCCCC;
      margin-right: auto;
      margin-left: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      }
      p {
      margin-left: 10px;
      margin-top: 4px;
      }
      ul {
      margin-left: 40px;
      }
      li {
      margin-left: 20px;
      padding-top: 4px;
      }
      .subpoint {
      list-style-type: circle;
      margin-left: 60px;
      }
      .alignleft {
      float: left;
      margin-left: -40px;
      }
      .alignright {
      float: right;
      }
      /*	@media not print{
      .border{
      border: 1px solid #CCCCCC;
      }
      .wrapper{
      border: 1px solid #999;
      }
      }*/
  body
    .border
      .wrapper
        h1 AARON MORAIS
        .subHead Software Engineering
        //.subHead Software Engineering | (416) 846-0453 | morais.aaron@gmail.com
        h2 SKILLS SUMMARY
        ul
          li Web Development - HTML5, CSS3, Javascript, JQuery, Backbone, Node.js, SQL
          li
            | Application Development - Java, C/C++, OpenCV, ActionScript, Objective-C, Google App Engine
          li Tools - Vim, Git, Mercurial, UNIX, Bash
        h2 EXPERIENCE
        ul
          div
            p.alignleft Genesys Laboratories - Mobile Development Intern
            p.alignright May 2012 - Aug 2012
          div(style='clear: both;')
          li Developed HTML5 web applications targeted at mobile platforms
          li.subpoint
            | Designed and developed HTML5 prototype of next generation contact database application
          li Worked on team developing the front-end of the Genesys SaaS Call Centre Solution
          li.subpoint Used Node.js and Backbone framework to modularly develop the web interface
          li.subpoint
            | Created a reporting dashboard prototype with the d3.js graphing library and a RESTful call centre statistic simulator
          p  
          p
          div
            p.alignleft Google Computer Science Summer Institute - Participant
            p.alignright July 2011 - Aug 2011
          div(style='clear: both;')
          li Skilled in using Google's App Engine to develop websites
          li.subpoint
            | Utilized HTML/CSS to create front-end design. Used Django and Python with App Engine for back-end management
          li
            | Worked as a team to develop "StudyCat" a collaborative notetaking web application
          li.subpoint
            | Followed project design process - Brainstorming, User interface design, Collaborative programming, Debugging, User testing
          p  
          p
          div
            p.alignleft Ministry of Government Services - Desktop Support Assistant
            p.alignright June 2010 - Aug 2010
          div(style='clear: both;')
          li
            | Troubleshooted operating system and application issues for clients in person, via telephone and other remote tools
          li
            | Fixed hardware and software problems through reimaging, hardware replacement, malicious software removal and data backup and retrieval
        p  
        p
        h2 Projects
        ul
          div(style='margin-left: 0px;')
            p.alignleft University of Waterloo Robotics Team - Autonomous Rover - Vision Team Lead
            p.alignright Sept 2011 - Present
          div(style='clear: both;')
          li Utilized Robot Operating System and Open Computer Vision libraries
          li
            | Rover autonomously navigates a race track with obstacles, stop signs and traffic lights
          li Competing in the International Autonomous Robot Racing Competition in July 2013
          div
            div(style='margin-left: 0px;')
              p.alignleft Tap A Studio - Senior Developer and Founder
          div(style='clear: both;')
          li
            | iOS Game Development - Working with a team to complete the production of an arcade & action game
          div
            div(style='margin-left: 0px;')
              p.alignleft Blackberry Application Development
          div(style='clear: both;')
          li Two Apps Published in App Store - Mark Calculator and Rubik's Cube Timer
        p  
        p
        h2 EDUCATION
        div
          div(style='margin-left: 40px;')
            p.alignleft University of Waterloo - Bachelor of Software Engineering
            p.alignright Sept 2011 – Present
        div(style='clear: both;')
        p
        p
        h2 ACHIEVEMENTS
        ul
          li Taekwondo - Black Belt First Dan
          li
            | 2011 St. Robert Catholic High School - Computer Studies Award - Highest Mark in School (95%)
          li
            | 2011 Google Games First Place - Competed against other teams in a series of brainteasers and puzzles
      //
        close wrapper
    //
      close border

