include layout
div(class="sidebar")
    div(class="header") AARON 
    div(class="header2") MORAIS
    div(class="navBar")
        div(class="element") 
            a(href="http://aaronmorais.com/wip") home
        div(class="element") projects
        div(class="element")
            a(href="http://aaronmorais.com/resume") r&eacute;sum&eacute; 
        div(class="element") me
    div(class="copyright") copyright 2012
div(class="placeholder") 
    div(class="p2") Hi! My name is Aaron Morais. I'm a student in Software Engineering at the University of Waterloo. I love to build cool things.
