@import url(http://fonts.googleapis.com/css?family=Lato:200,400,800);
html, body, .container {
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    padding: 0;
}

body {
    background:url("/img/bright_squares.png") repeat;
    font-family: 'Lato', serif;
}

.grid{
    margin-left: -5%;
    width: 100%;
    margin: 0;
}

.grid, .message-container, .left-container, .right-container{
    height: 100%;
}

.left-container {
    border-right: 1px solid rgba(0,0,0,0.1);
    margin: 0;
    padding-top: 2.5%;
    padding-left: 3.5%;
    background-color: rgba(0, 0, 0,0.8);
}

.name-container {
    margin: 0 auto;
    padding-top: 20%;
    padding-bottom: 10%;
}

.name {
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 4px;
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

#first-name {
    margin-left:10%;
}

#last-name {
    margin-left: 15%;
}

.navBar {
    padding-top: 10%;
}    
.element {
    cursor:pointer;
    margin-bottom:2.5%;
    text-align:left;
    margin-left: 10%;
    -webkit-transition: margin 0.5s ease-out; 
    -moz-transition: margin 0.5s ease-out; 
    -o-transition: margin 0.5s ease-out;
}
.element:hover { 
    padding-left: 5%;
}

.element:hover, a:hover, .name {
    color:#95a5a6;
}
.element, a {
    color: #ecf0f1;
}
a {
    text-decoration:none;
}
li {
    list-style-type:none;
}
.message-container {
    display: table;
    padding-left: 5%;
    width: 100%;
    height: 100%;
}
.message {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.4em;
}
.name {
    font-size:2.0em;
}
.element {
    font-size:1em;
}
@media screen and (max-width: 800px) {
    .name {
        font-size:2.0em;
    }
    .element {
        font-size: 1em;
    }
}
@media screen and (max-width: 650px) {
    .container, .grid, .message-container, .left-container, .right-container{
        height: auto;
    }
    .grid {
        margin: 0;
    }
    .name-container {
        padding-top: 5%;
        padding-bottom: 5%;
        width: 100%;
        margin: 0 auto;
    }
    .navBar {
        width: 100%;
        margin: 0 auto;
        padding-top: 0;
        margin-left: -5%;
        text-align: center;
    }
    .element {
        display: inline;
        font-size:75%;
    }
    .element:hover { 
        padding: 0;
    }
    .left-container {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid rgba(0,0,0,0.1); 
    }
    .name {
        text-align: center;
    }
    #first-name {
        margin-left: -5%;
    }
    #last-name {
        margin-left: 0%;
    }
    .message-container {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .message {
        font-size: 1.1em;
    }
}