body {
    padding-left:4%;
    padding-right:4%;
    padding-top: 2%;
    padding-bottom:5%;
    background-color: white;
    font-family:"Bangla Sangam MN";
    //background-image:url(http://www.kassidyserbus.com/images/KS_GreyBokeh__BG_MAR12.jpg);
    //background-image:url(http://fc03.deviantart.net/fs71/i/2010/262/4/4/blue_bokeh_texture_by_beckas-d2z1au4.jpg);
    //background-image:url(http://i.imgur.com/XLOJ5.jpg);
    background-image:url(http://i.imgur.com/XNEB1.jpg);
    background:url(http://i.imgur.com/d39w7.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.sidebar{
    position:absolute;
    height:90%;
    width:15%;
  //  border-right: 1px black solid;
    background:rgba(255,255,255,0.2);
}
.header {
    padding-top:10%;
    font-family: "Arial";
    font-size:200%;
    letter-spacing:4px;
    text-align:left;
    padding-left:10%;
    padding-bottom:2%;
}
.header2 {
    font-family: "Arial";
    font-size:200%;
    letter-spacing:4px;
    padding-bottom:12%;
    text-align:right;
    padding-right:10%;
}
.navBar {
    padding-right: 10%;
}    
.element {
    margin-bottom:1.5%;
    font-size:130%;
    text-align:right;
    color: rgb(74,66,71);
}
a {
    text-decoration:none;
    color: rgb(74,66,71);
}
li {
    list-style-type:none;
}
.copyright{
    font-size:100%;
    position:absolute;
    bottom:0px;
    padding-left:10%;
    padding-bottom:8%;
    color: rgb(74,66,71);
}
.placeholder{
    float:left;
    position:absolute;
    top:4.5%;
    height:89.5%;
    width:70%;
    left: 24%;
    background:rgba(255,255,255,0.2);
    display: table;
}
.p2{
    display: table-cell;
    padding-top: 15%;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    font-size:150%;
    font-family:"Bangla Sangam MN";
    font-weight:400;
    color: rgba(0,0,0,0.5);
}
